@import "../../responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    // background-color: rgb(241, 203, 188);
    max-width: 1280px;
  }

  @include md {
    // background-color: rgb(197, 197, 248);
    max-width: 768px;
  }

  @include sm {
    // background-color: rgb(243, 194, 194);
    max-width: 640px;
  }
  // 为了两边留出spacing
  .content {
    height: calc(100vh - 100px);
  }
}
// 需要屏幕尺寸从大到小排列
